<div id="marquee">
  <h1>JavaScript Matching</h2>
  <ul>
    <li class="test"><h2>Score: <span id="score">0</span></h2></li>
    <li><input type="button" value="Reset"></li>
  </ul>
</div>
<div id="cards">
  <div class="hidden_card"><p><i></i></p></div>
  <div class="hidden_card"><p><i></i></p></div>
  <div class="hidden_card"><p><i></i></p></div>
  <div class="hidden_card"><p><i></i></p></div>
  <div class="hidden_card"><p><i></i></p></div>
  <div class="hidden_card"><p><i></i></p></div>
  <div class="hidden_card"><p><i></i></p></div>
  <div class="hidden_card"><p><i></i></p></div>
  <div class="hidden_card"><p><i></i></p></div>
  <div class="hidden_card"><p><i></i></p></div>
  <div class="hidden_card"><p><i></i></p></div>
  <div class="hidden_card"><p><i></i></p></div>
  <div class="hidden_card"><p><i></i></p></div>
  <div class="hidden_card"><p><i></i></p></div>
  <div class="hidden_card"><p><i></i></p></div>
  <div class="hidden_card"><p><i></i></p></div>
  <div class="hidden_card"><p><i></i></p></div>
  <div class="hidden_card"><p><i></i></p></div>
  <div class="hidden_card"><p><i></i></p></div>
  <div class="hidden_card"><p><i></i></p></div>
</div>