<div id="marquee">
  <h1>JavaScript Matching</h2>
  <ul>
    <li class="test"><h2>Score: <span id="score">0</span></h2></li>
    <li class="resetButton"><input type="button" value="Reset"></li>
  </ul>
</div>
<div class="comparison_results"></div>
<div id="cards">
  <div class="hidden_card"></div>
  <div class="hidden_card"></div>
  <div class="hidden_card"></div>
  <div class="hidden_card"></div>
  <div class="hidden_card"></div>
  <div class="hidden_card"></div>
  <div class="hidden_card"></div>
  <div class="hidden_card"></div>
  <div class="hidden_card"></div>
  <div class="hidden_card"></div>
  <div class="hidden_card"></div>
  <div class="hidden_card"></div>
  <div class="hidden_card"></div>
  <div class="hidden_card"></div>
  <div class="hidden_card"></div>
  <div class="hidden_card"></div>
  <div class="hidden_card"></div>
  <div class="hidden_card"></div>
  <div class="hidden_card"></div>
  <div class="hidden_card"></div>
</div>